%div.row
  %div.col-md-12
    %h2 Forgot your password?
%div.row
  %div.col-md-6
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| 
      %div.form-group
        = devise_error_messages!
      %div.form-group
        = f.label :email 
        = f.email_field :email, autofocus: true, class: 'form-control'
      %div.form-group
        = f.submit "Send me reset password instructions", class: 'btn btn-primary'
      %div.form-group
        = render "devise/shared/links" 
