%div.row
  %div.col-md-12
    %h1 
      = @wiki.title
      - if @wiki.private
        <span class="glyphicon glyphicon-lock"></span>
    %div 
      - if current_user && (current_user == @wiki.owner || @wiki.private == false)
        %div.pull-right
          = link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-link'
      = markdown @wiki.description
    %hr
%div.row
  %div.col-md-8
    %h4 
      Pages
    %p
      - if current_user
        = link_to "Add Page", new_wiki_page_path(@wiki), class: 'btn btn-primary'
    %ul
      - @pages.each do |page|
        %li
          = link_to page.title, wiki_page_path(@wiki, page)
  %div.col-md-4
    - if @wiki.private == true
      %h4 Collaborators
      %p Users who can edit and add pages to this wiki.
      %p
        - if current_user && (current_user == @wiki.owner || @wiki.private == false)
          = render partial: 'collaborations', locals: {wiki: @wiki, collaboration: @collaboration}
      %ul.list-group
        - if @collaborations.empty?
          %li.list-group-item No collaborators are present
        - else
          - @collaborations.each do |user|
            %li.list-group-item
              = user.username 
              %div.pull-right  
                = link_to "Remove", wiki_collaboration_path(@wiki, user), method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }
      