%h1 Create Page
%div.row
  %div.col-md-8
    = form_for [@wiki, @page] do |f|
      %div.form-group
        = f.label :title
        = f.text_field :title, id: 'page-title', class: 'form-control'
      %div.form-group
        = f.label :body
        = f.text_area :body, id: 'page-body', class: 'form-control'
      %div.form-group
        = f.submit "Add"