%h1 
  = @wiki.title

%p
  = link_to "Back", @wiki  
- if current_user
  = link_to "Edit Page", edit_wiki_page_path(@wiki, @page)
  = link_to "Delete Page", [@wiki, @page], method: :delete, data: { confirm: 'Are you sure you want to delete this page?' }

%h2
  = @page.title
%p 
  = markdown @page.body
